# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Jupyter and Python environment files
*.ipynb_checkpoints
.env
.venv/
env/
venv/
.Python

# macOS
.DS_Store

# VSCode
.vscode/

# Streamlit session files
*.session
config.json

# Data outputs
*.png
visualizations/

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore Streamlit cache
.streamlit/
.cache/
